.search-list {
  margin-top: 20px;

}
.search-list ul {
  list-style: none;
  padding: 0;
}

.search-list li {
  border-top: 1px solid var(--border);
  padding: 14px 0;
  font-size: 14px;
}

.repo-title {
  font-size: 18px;
  margin-bottom: 4px;
}

.repo-desc {
  margin-bottom: 4px;
}

.repo-info {
  display: flex;
}

.repo-info div {
  margin-right: 10px;
}

.repo-info a { 
  color: var(--text)
}
.repo-info a:hover { 
  color: var(--yellow)
}

.tip {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

